@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-text: oklch(96.2% 0.034 145.31);
  --color-background: oklch(24.34% 0.083 142.5);
  --color-primary: oklch(81.58% 0.068 144.92);
  --color-secondary: oklch(42.93% 0.066 316.36);
  --color-accent: oklch(71.23% 0.2 143.11);

  --shadow-project-card: 2px 4px 10px;

  --animate-flash: flash 0.5s ease-in forwards;
  @keyframes flash {
    0%,
    100% {
      background-color: oklch(16.69% 0.028 227.22);
    }
    10% {
      background-color: oklch(74.57% 0.132 232.71);
    }
  }

  --animate-blue-flash: flash 0.5s ease-in forwards;
  @keyframes blue-flash {
    0%,
    100% {
      background-color: oklch(16.69% 0.028 227.22);
    }
    10% {
      background-color: oklch(97.43% 0.038 146.49);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  /* For users who prefer reduced motion */
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  h4 {
    font-size: var(--text-base);
  }
  p {
    font-size: var(--text-base);
    line-height: 1.625;
  }
  h1,
  h2,
  h3,
  h4,
  p {
    letter-spacing: var(--tracking-wide);
  }
}
