@import "tailwindcss";

@tailwind utilities;

/* TODO: Find better outline color */
/* TODO: Create custom shadow style [Kage Bunshin no Jutsu]. */
@theme {
  /* MM */
  --color-text-50: oklch(97.35% 0.026 155.98);
  --color-text-100: oklch(94.6% 0.051 155.76);
  --color-text-200: oklch(89.65% 0.1 154.9);
  --color-text-300: oklch(85.22% 0.146 152.97);
  --color-text-400: oklch(81.42% 0.187 150.74);
  --color-text-500: oklch(78.57% 0.219 148.13);
  --color-text-600: oklch(66.36% 0.182 148.37);
  --color-text-700: oklch(53.82% 0.145 148.71);
  --color-text-800: oklch(40.51% 0.105 149.37);
  --color-text-900: oklch(25.98% 0.062 150.31);
  --color-text-950: oklch(17.9% 0.037 155.15);

  /* WW */
  --color-background-50: oklch(97.75% 0.024 127.57);
  --color-background-100: oklch(95.51% 0.049 127.38);
  --color-background-200: oklch(91.01% 0.095 128.07);
  --color-background-300: oklch(86.97% 0.14 128.7);
  --color-background-400: oklch(82.89% 0.178 129.99);
  --color-background-500: oklch(79.3% 0.206 131.82);
  --color-background-600: oklch(67.13% 0.172 131.6);
  --color-background-700: oklch(54.64% 0.138 131.38);
  --color-background-800: oklch(41.04% 0.101 131.29);
  --color-background-900: oklch(26.58% 0.06 130.58);
  --color-background-950: oklch(18.29% 0.035 126.85);

  /* LoZ */
  --color-primary-50: oklch(18.87% 0.064 142.5);
  --color-primary-100: oklch(27.82% 0.095 142.5);
  --color-primary-200: oklch(44.21% 0.15 142.5);
  --color-primary-300: oklch(59.17% 0.201 142.5);
  --color-primary-400: oklch(73.23% 0.249 142.5);
  --color-primary-500: oklch(86.64% 0.295 142.5);
  --color-primary-600: oklch(87.16% 0.279 142.72);
  --color-primary-700: oklch(88.67% 0.234 143.28);
  --color-primary-800: oklch(91.35% 0.167 144.06);
  --color-primary-900: oklch(95.17% 0.086 144.87);
  --color-primary-950: oklch(97.42% 0.044 145.23);

  /* BotW */
  --color-secondary-50: oklch(16.69% 0.028 227.22);
  --color-secondary-100: oklch(23.73% 0.045 231.95);
  --color-secondary-200: oklch(36.24% 0.074 235.78);
  --color-secondary-300: oklch(48.02% 0.101 236.7);
  --color-secondary-400: oklch(59.12% 0.127 237.22);
  --color-secondary-500: oklch(69.45% 0.15 237.75);
  --color-secondary-600: oklch(74.57% 0.132 232.71);
  --color-secondary-700: oklch(80.15% 0.105 229.91);
  --color-secondary-800: oklch(86.32% 0.072 228.52);
  --color-secondary-900: oklch(93.1% 0.038 226.79);
  --color-secondary-950: oklch(96.41% 0.018 227.28);

  /* Gold */
  --color-accent-50: oklch(97.88% 0.02 103.66);
  --color-accent-100: oklch(96.01% 0.039 105.55);
  --color-accent-200: oklch(91.98% 0.077 104.61);
  --color-accent-300: oklch(88.21% 0.112 105.7);
  --color-accent-400: oklch(84.56% 0.141 106.38);
  --color-accent-500: oklch(81.14% 0.16 106.3);
  --color-accent-600: oklch(68.67% 0.134 106.49);
  --color-accent-700: oklch(55.7% 0.107 106.16);
  --color-accent-800: oklch(41.91% 0.079 105.5);
  --color-accent-900: oklch(27.04% 0.046 107.33);
  --color-accent-950: oklch(18.77% 0.028 105.58);

  --animate-flash: flash 0.5s ease-in forwards;
  @keyframes flash {
    0%,
    100% {
      background-color: oklch(16.69% 0.028 227.22);
    }
    10% {
      background-color: oklch(74.57% 0.132 232.71);
    }
  }

  --animate-blue-flash: flash 0.5s ease-in forwards;
  @keyframes blue-flash {
    0%,
    100% {
      background-color: oklch(16.69% 0.028 227.22);
    }
    10% {
      background-color: oklch(97.43% 0.038 146.49);
    }
  }
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  h4 {
    font-size: var(--text-base);
  }
  p {
    font-size: var(--text-base);
    line-height: 1.625;
  }
  h1,
  h2,
  h3,
  h4,
  p {
    letter-spacing: var(--tracking-wide);
  }
}
