@import "tailwindcss";

@theme {
  --color-text: oklch(95.21% 0.019 227.28);
  --color-background: oklch(14.13% 0.017 218.61);
  --color-primary: oklch(73.41% 0.136 233.87);
  --color-secondary: oklch(39.15% 0.11 304.56);
  --color-accent: oklch(73.23% 0.249 142.5);
}

@layer components {
  .underline-link {
    @apply text-accent relative flex items-center gap-1 tracking-widest transition-discrete duration-300;
    @apply before:bg-accent before:absolute before:inset-x-0 before:-bottom-0.5 before:h-[2px];
    @apply before:transition-transform before:duration-300 before:ease-out before:will-change-transform;
  }

  .underline-link-left {
    @apply before:origin-left;
  }

  .underline-link-right {
    @apply before:origin-right;
  }

  .underline-link-hover {
    @apply hover:text-text/70 focus-visible:text-text/80;
    @apply before:scale-x-0 hover:before:scale-x-33 focus-visible:before:scale-x-33;
  }

  .underline-link-active {
    @apply text-text before:scale-x-100;
  }

  .list-separator {
    @apply after:mx-2.5 after:content-['|'] last:after:content-none;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  /* For users who prefer reduced motion */
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  h4 {
    font-size: var(--text-base);
  }
  p {
    font-size: var(--text-sm);
    line-height: 1.625;
  }
  h1,
  h2,
  h3,
  h4,
  p {
    letter-spacing: var(--tracking-wide);
  }
}
